<div>
    <h1>New Article</h1>
    <div id="id-editor-article-show">
        <%= form_for(@article) do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>

            <%= f.label :title %>
            <%=file_field_tag "pic_path[]"%>

            <%= f.label :body %>
            <%= f.kindeditor :body%>
            <%= f.submit "添加文章", class: "btn btn-primary" %>
        <% end %>
    </div>
    <%= link_to 'Back', articles_path %>
</div>
